$mainPadding:		.7rem;
$mainBorderRadius:	.25rem;
$mainFontSize:		1em;

input.mainCallToAction{
	border: 1px solid #fff;
	border-radius: $mainBorderRadius;
	width: 260px;
	font-size: $mainFontSize;
	padding: $mainPadding;

	@media (min-width:597px) { 
		margin-right: 10px;
	}
}

button.mainCallToAction{
	border: 1px solid #56B68B;
	border-radius: $mainBorderRadius;
	width: 282px;
	font-size: $mainFontSize;
	padding: $mainPadding;
	cursor: pointer;
	background: #56B68B;
	color: #FFF;

	@media (max-width:597px) { 
		margin-top: 10px;
	}
}