@import 'navigation';
@import 'forms';
@import 'mainCharacters';

$font-stack:	'Open Sans', serif;

html {
	font-family: $font-stack;
	font-size: 16px;
}

.text-white {
	color: white;
}

video#homeBackground {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-filter: saturate(1.9);
}

#videoBackground {
	position: fixed;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
	outline: 0;
	background-color: black;
	opacity: 0.3;
}