@import 'navigation';

$font-stack:    Helvetica, sans-serif;

html {
	font-family: $font-stack;
	font-size: 16px;
}

.text-white {
	color: white;
}

video#homeBackground {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	-webkit-filter: saturate(1.9);
}

#videoBackground {
	position: fixed;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -99;
	outline: 0;
	background-color: black;
	opacity: 0.3;
}

.container {
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 200px;
	padding-bottom: 250px;
	text-align: center;

	h1{
		font-size: 100px;
		margin-bottom: 10px;
	}

	p{
		font-size: 20px;
		margin-bottom: 40px;
	}
}

input{
	border: 1px solid #fff;
	border-radius: .25rem;
	font-size: 1.176rem;
	padding: .7rem;
	width: 290px;
	margin-right: 10px;
}

button{
	width: 260px;
	cursor: pointer;
	border: 1px solid #56B68B;
	border-radius: 4px;
	background: #56B68B;
	color: #FFF;
	font-size: 1.176rem;
	padding: .7rem;
}