.mainAction {
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 200px;
	padding-bottom: 250px;
	text-align: center;

	h1{
		font-size: 100px;
		margin-bottom: 10px;
	}

	p{
		font-size: 20px;
		margin-bottom: 40px;
	}
}