
@media (min-width:1025px) { 
    .global-container {
        margin-top: 0;
        background-image: none;
    }
}
.mainAction {
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
	font-size: 20px;

	@media (min-width:1200px) { 
		padding-top: 200px;
	}
	@media (min-width:992px) { 
		padding-top: 130px;
	}
	@media (min-width:768px) { 
		padding-top: 100px;
	}
	@media (max-width:767px) { 
		padding-top: 60px;
	}

	h1{
		margin-bottom: 10px;

		@media (min-width:1200px) { 
			font-size: 90px;
			padding: 0px 240px;
		}
		@media (min-width:992px) { 
			font-size: 80px;
			padding: 0px 240px;
		}
		@media (min-width:768px) { 
			font-size: 60px;
			padding: 0px 140px;
		}
		@media (max-width:767px) { 
			font-size: 40px;
			padding: 0px 40px;
		}

	}

	p{
		margin-bottom: 40px;
	}
}