nav {
	top: 0;
	width: 100%;
	z-index: 1;

	a {
		text-decoration: none;
	}

	.logo{
		height: 30px;
		width: 106px;
		float: left;
		margin: 20px 0 0 20px;
		font-size: 2rem;
	}

	ul {
		list-style-type: none;
		margin: 10px 20px 0 0;
		padding: 0;
		float: right;
		line-height: 70px;

		a {
			color: #FFF;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;
			font-weight: 700;
			margin-left: 9px;
			cursor: pointer;
			line-height: 1em;
			padding: 8px 10px 9px;
			opacity: .8;
		}

		a:hover{
			opacity:1;
			background:rgba(0,0,0,.1);
			box-shadow:inset 0 1px 2px rgba(0,0,0,.05);
		}

		.btn{
			display:inline-block;
			padding:10px 14px 9pt;
			line-height:1em;
			text-decoration:none;
			color:#FFF;
			border-radius:4px;
			font-size:12pt;
			box-shadow:inset 0 0 0 2px rgba(255,255,255,.75);
		}

		.btn:hover{
			box-shadow:inset 0 0 0 2px #fff,0 1px 1px rgba(0,0,0,.1);
			background:0 0;
		}
	}
}