#login_content {
	width: 64pc;
	padding: 120px 30px;
	margin: 0 auto;
}

.span_4_of_6 {
	width: 66.13%;
}

.margin_auto {
	margin-left: auto;
	margin-right: auto;
}

.box {
	background-color: #fff;
	border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    padding: 2rem 2rem 1rem;
    margin: 0 auto 2rem;
    position: relative;
    border: 1px solid #e8e8e8;
}

.align_center {
	text-align: center;
}

.small_bottom_margin {
    margin-bottom: .5rem;
}

.bottom_margin {
    margin-bottom: 1rem;
}

.large_bottom_margin {
    margin-bottom: 2rem;
}

.full_width {
    width: 100%;
    max-width: 100%;
}