
<video autoplay loop muted id="homeBackground">
	<source src="videos/Pinball.mp4" type='video/mp4'>
</video>
<div id="videoBackground">
</div>
<nav>
	<a href="/" class="text-white logo">gamis</a>
	<ul>
		<li>
			<a href="/login" class="btn">Sign in</a>
		</li>
	</ul>
</nav>
<div class="mainAction" ng-controller="homeCtrl">
	<h1>
		<span class="text-white">Challenge your limits</span>
	</h1>
	<p class="text-white">Gamis gives the opportunity to teams to be more efficient, more pleasant, and more productive</p>
	<input type="email" ng-model="new_lead" placeholder="Email address" class="mainCallToAction">
	<button class="btn mainCallToAction" ng-disabled="disable_button" ng-click="sendNewLead()">Join our beta program</button>
	<p id="thankYouLead" class="text-white">{{thank_you_message}}</p>
</div>
