<nav class="opaque">
	<a href="/" class="logo">gamis</a>
</nav>
<div id="login_content" ng-controller="loginCtrl">

	<div class="span_4_of_6" ng-show="show_error">
		<button type="button" class="close" ng-click="show_error = false">x</button>
		{{message}}
	</div>
	<div class="span_4_of_6 margin_auto align_center box">
		<h1>Sign in to gamis</h1>
		<div class="span_4_of_6 margin_auto">
			<p>Enter your <b>email address</b> and <b>password</b>.</p>
			<form name="login_form">
				<input type="text" class="login full_width" placeholder="Username" ng-model="login_data.username" name="username" >
				<input type="password" class="login small_bottom_margin full_width" placeholder="Password" ng-model="login_data.password" name="password">
				<button class="btn btn_large full_width botton_good_thing large_bottom_margin" ng-click="logIn(login_data)">Sign in</button>
			</form>
		</div>
	</div>

</div>